<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.qiandao.mapper.LoginMapper">


    <select id="getPasswordByUsername" resultType="java.lang.String">
        select ui_pwd from userinfo where ui_phone=#{name}
    </select>
    <select id="getPhone" resultType="java.lang.String">
        select ui_phone from userinfo where ui_phone=#{phone}
    </select>
    <insert id="saveRegisterUser">
        insert into userinfo values (0,#{user.number},#{user.jurisdiction},#{user.username},#{user.pwd},#{user.img},#{user.bgimg},#{user.phone},#{user.grade},#{user.state},#{user.invitationcode},#{user.signature},#{user.registrationdate},#{user.cashbalance},#{user.vcbalance},#{user.exp})
    </insert>
    <insert id="saveRegisterUserbasic">
        insert into userbasicinfo values (
        #{user.number}
        <if test="user.name != null">
            ,#{user.name}
        </if>
        <if test="user.familyname != null">
            ,#{user.familyname}
        </if>
        <if test="user.language != null">
            ,#{user.language}
        </if>
        <if test="user.gender != null">
            ,#{user.gender}
        </if>
        <if test="user.birth != null">
            ,#{user.birth}
        </if>
        <if test="user.area != null">
            ,#{user.area}
        </if>
        <if test="user.documenttype != null">
            ,#{user.documenttype}
        </if>
        <if test="user.documentnumber != null">
            ,#{user.documentnumber}
        </if>
        <if test="user.educationbackground != null">
            ,#{user.educationbackground}
        </if>
        <if test="user.educationexperience != null">
            ,#{user.educationexperience}
        </if>
        <if test="user.industry != null">
            ,#{user.industry}
        </if>
        <if test="user.workingexperience != null">
            ,#{user.workingexperience}
        </if>
        <if test="user.incomerange != null">
            ,#{user.incomerange}
        </if>
        <if test="user.email != null">
            ,#{user.email}
        </if>
        <if test="user.wechat != null">
            ,#{user.wechat}
        </if>
        )
    </insert>
    <select id="getUserInfo" resultType="cn.qiandao.pojo.User">
        select ui_number,ui_jurisdiction,ui_name,ui_pwd,ui_img,ui_bgimg,ui_phone,ui_grade,ui_state,ui_code,ui_signature,ui_registrationdate,ui_cashbalance,
        ui_virtualcurrencybalance,ubi_name,ubi_familyname,ubi_language,ubi_gender,ubi_birth,ubi_area,ubi_documenttype,ubi_documentnumber,ubi_educationbackground,
        ubi_educationexperience,ubi_industry,ubi_workingexperience,ubi_incomerange,ubi_email,ubi_wechat from userinfo left join userbasicinfo on ui_id=ubi_usernumber
        where ui_phone=#{getPhone}
    </select>
    <select id="getNumber" resultType="java.lang.String">
        select ui_number from userinfo limit 0,1
    </select>

</mapper>