<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qiandao.mapper.UserinfoMapper">
  <resultMap id="BaseResultMap" type="cn.qiandao.pojo.Userinfo">
    <!--@mbg.generated-->
    <!--@Table userinfo-->
    <id column="ui_id" jdbcType="INTEGER" property="uiId" />
    <result column="ui_number" jdbcType="VARCHAR" property="uiNumber" />
    <result column="ui_jurisdiction" jdbcType="INTEGER" property="uiJurisdiction" />
    <result column="ui_name" jdbcType="VARCHAR" property="uiName" />
    <result column="ui_pwd" jdbcType="VARCHAR" property="uiPwd" />
    <result column="ui_img" jdbcType="VARCHAR" property="uiImg" />
    <result column="ui_bgimg" jdbcType="VARCHAR" property="uiBgimg" />
    <result column="ui_phone" jdbcType="VARCHAR" property="uiPhone" />
    <result column="ui_grade" jdbcType="INTEGER" property="uiGrade" />
    <result column="ui_state" jdbcType="INTEGER" property="uiState" />
    <result column="ui_code" jdbcType="VARCHAR" property="uiCode" />
    <result column="ui_signature" jdbcType="VARCHAR" property="uiSignature" />
    <result column="ui_registrationdate" jdbcType="DATE" property="uiRegistrationdate" />
    <result column="ui_cashbalance" jdbcType="DECIMAL" property="uiCashbalance" />
    <result column="ui_virtualcurrencybalance" jdbcType="DECIMAL" property="uiVirtualcurrencybalance" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ui_id, ui_number, ui_jurisdiction, ui_name, ui_pwd, ui_img, ui_bgimg, ui_phone, ui_grade, 
    ui_state, ui_code, ui_signature, ui_registrationdate, ui_cashbalance, ui_virtualcurrencybalance
  </sql>

<!--auto generated by MybatisCodeHelper on 2019-12-27-->
  <select id="selectByUiId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from userinfo
        where ui_id=#{uiId,jdbcType=INTEGER}
    </select>
</mapper>